/* work sans font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*----- shares styles----- */

.display-flex {
    display: flex;
}

/* dark 02 */
.light-dark-gray {
    color: #424242;
}

/* dark 03 */

.light-gray {
    color: #727272;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.10);
}

.primaty-color {
    background-color: #FF900E;
    ;
}

main {
    max-width: 1190px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

.section-title {
    font-size: 3.3rem;
    font-weight: 700;
}



/* ----header styles----- */


/* navigation styles */

.navigation {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    align-items: center;
}

.brand-title {
    font-size: 2.7rem;
    font-weight: 700;
}

.navbar>li {
    margin-right: 20px;
    list-style: none;
}

.navbar>li>a {
    text-decoration: none;
}

/* -----banner styles------ */

.banner-content {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


.btn-primary {
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 20px 24px;
    border-radius: 8px;
    border: none;
}

.banner-img {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.banner img {
    width: 85%;
}

/* ------team section styles---- */
.teams {
    justify-content: center;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-img img {
    width: 100%;
}

.team-content {
    margin-left: 100px;
    max-width: 530px;
}

.team-title {
    font-size: 2.5rem;
    font-style: 500;
    color: #131313;
}

#quick-list {
    color: #a69f9fd8;
    font-weight: 600;
}

#features {
    color: #FF900E;
    font-weight: 600;
}

/* features section styles */

/* features card design styles */


#featers-bar {
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}


.card-container {
    max-width: 540px;
    margin-bottom: 20px;
}

.feature-card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.card-title {
    color: #131313;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 5px;
}


/* features img desing */

.features-img-container {
    margin-left: 130px;

}

.features-img-container img {
    width: 500px;
    height: 100%;
    object-fit: cover;
}

#experience-badge {
    padding: 40px;
    margin-left: -85px;
    margin-top: -100px;
}

.badge-year {
    font-size: 3rem;
    font-weight: 700;
}

.features-img-container img {
    width: 100%;
}

.badge-experience {
    font-size: 1.5rem;
    font-weight: 500px;
}


/* ---------responsive styles------- */

@media screen and (max-width:576px) {

    .navigation,
    .teams,
    .features {
        flex-direction: column;

    }

    .team-content {
        margin-left: 24px;
    }

    .features-img-container {
        margin-left: 0px;
    }

    .features-title {
        font-size: 30px;
    }

    #experience-badge {
        margin-top: 0;
        margin-left: 0;
    }

}

@media screen and (min-width:577px) and (max-width:1024px) {

    .navigation {
        padding: 0px 30px;
    }

    .teams,
    .features {
        flex-direction: column;
    }

    .team-content {
        margin-left: 0px;
        max-width: 95%;
    }

    .team-title {
        margin: 30px 0px;
    }

    .card-container {
        max-width: 100%;
    }

    .features-img-container {
        margin-left: 0px;
    }

    #experience-badge {
        margin-top: 0;
        margin-left: 0;
    }


}